*{
    margin: 0;
    padding: 0;
    font-family: inter-regular;
    box-sizing: border-box;
}
@font-face {
    font-family: inter-regular;
    src: url(../assets/fonts/inter/Inter_18pt-Regular.ttf);
}

.top-tiny-bar{
    display: flex;
    justify-content: space-between;
    background-color: #2E46A3;
    padding: 20px 0;

   
}

.top-tiny-bar  ul {
        display:flex;
        gap: 40px;
        text-decoration: none;
        list-style: none;
        margin: 0 60px;
        

}
.actu>ul>li>a{
    text-decoration: none;
     list-style: none;
     color: black;

}

.bienvenue{
    background-color: #418BC0;
  margin-left: 80px;
  padding:3px 60px ;
}
/*.menu{

.menu-list{
    display: flex;
    gap:60px;
    text-align: center;
    margin-top: 15px;
}
.menu-list>li>a{
    text-decoration: none;
    list-style: none;
    color:#000;
}
.menu-button>button{
   margin-top: 8px;
   margin-right: 50px;
   padding: 10px 30px;
   justify-content: center;
   background-color: #418BC0;
   border: none;
   border-radius: 10px;

}
.banner>img{
    width: 1220px;
    height: 500px;
}
*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap:50px;
   
}
li{
    text-decoration: none;
    list-style: none;
}
.menu-list>li>a{
    text-decoration: none;
    color: #000;
}
.menu-button>button{
    padding:10px 20px;
    border-radius: 10px;
    background-color: #418BC0;
    border: none;
    margin-right: 20px;
}

.banner>img{
    width: 1200px;
    height: 550px;
    border-radius: 10px;
   
  
    margin-left: 60px;
}
.first-text>h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}
.grid-1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    text-align: center;
    margin:0 30px;
    margin-top: 30px;
}
.card{
   border:1px solid #ccc;
   padding:0px 20px 100px 20px;
   background-color: #ccc;
;
   button{
    background-color: #418BC0;
    border-radius: 10px;
    border: none;
    padding: 8px 5px;
    margin-top: 50px;
   }
}